body{
    background-color:antiquewhite;
}
h1{
    text-align: center;
}
img{
    height: 400px;
    width: 320px;
    margin: 20px auto;
    display: block;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 2px crimson;
}   
button{
    width: 200px;
    height: 55px;
    display: block;
    margin: auto;
    border: 1px solid crimson;
    box-shadow: 3px 3px 2px crimson;
}
.container{
    text-align: center;
}
